<svg width="323" height="184" viewBox="0 0 323 184" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="template">
        <rect id="background" x="0.5" y="0.5" width="321.814" height="183" fill="#F5F5F5" stroke="#D2D2D2"/>
        <rect id="sidebar" x="1" y="1" width="34.4463" height="182" fill="#F8F9FA"/>
        <rect id="name" x="46.7571" y="11.2825" width="55.0113" height="14.9096" rx="3" fill="#A088EF"/>
        <rect id="cart" x="295.593" y="11.2825" width="14.9096" height="14.9096" rx="4" fill="#FF8B4C"/>
        <g id="menu">
            <g id="Group 2" filter="url(#filter0_d_2_59)">
                <rect id="Rectangle 5" x="46.7571" y="49.8418" width="83.2143" height="89.9717" rx="4" fill="#F8F9FA"/>
                <path id="Rectangle 6"
                      d="M46.7571 53.8418C46.7571 51.6327 48.5479 49.8418 50.7571 49.8418H125.971C128.18 49.8418 129.971 51.6327 129.971 53.8418V112.963H46.7571V53.8418Z"
                      fill="#B6AFAF"/>
                <rect id="order-3" x="97.28" y="128.037" width="27.2428" height="7.5369" rx="2" fill="#A088EF"/>
            </g>
            <g id="Group 3" filter="url(#filter1_d_2_59)">
                <rect id="Rectangle 5_2" x="136.901" y="49.8418" width="83.2143" height="89.9717" rx="4"
                      fill="#F8F9FA"/>
                <path id="Rectangle 6_2"
                      d="M136.901 53.8418C136.901 51.6327 138.692 49.8418 140.901 49.8418H216.115C218.324 49.8418 220.115 51.6327 220.115 53.8418V112.963H136.901V53.8418Z"
                      fill="#B6AFAF"/>
                <rect id="order-2" x="187.424" y="128.037" width="27.2428" height="7.5369" rx="2" fill="#A088EF"/>
            </g>
            <g id="Group 4" filter="url(#filter2_d_2_59)">
                <rect id="Rectangle 5_3" x="227.045" y="49.8418" width="83.2143" height="89.9717" rx="4"
                      fill="#F8F9FA"/>
                <path id="Rectangle 6_3"
                      d="M227.045 53.8418C227.045 51.6327 228.836 49.8418 231.045 49.8418H306.259C308.468 49.8418 310.259 51.6327 310.259 53.8418V112.963H227.045V53.8418Z"
                      fill="#B6AFAF"/>
                <rect id="order-1" x="277.568" y="128.037" width="27.2428" height="7.5369" rx="2" fill="#A088EF"/>
            </g>
        </g>
        <g id="sidebar-items">
            <rect id="sidebar_item-3" x="10.7684" y="34.9322" width="14.9096" height="14.9096" rx="4" fill="#FF8B4C"/>
            <rect id="sidebar_item-2" x="10.7684" y="58.5819" width="14.9096" height="14.9096" rx="4" fill="#FF8B4C"/>
            <rect id="sidebar_item-1" x="10.7684" y="82.2316" width="14.9096" height="14.9096" rx="4" fill="#FF8B4C"/>
        </g>
    </g>
    <defs>
        <filter id="filter0_d_2_59" x="38.7571" y="45.8418" width="99.2143" height="105.972"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="4"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_59"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_59" result="shape"/>
        </filter>
        <filter id="filter1_d_2_59" x="128.901" y="45.8418" width="99.2143" height="105.972"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="4"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_59"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_59" result="shape"/>
        </filter>
        <filter id="filter2_d_2_59" x="219.045" y="45.8418" width="99.2143" height="105.972"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="4"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_59"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_59" result="shape"/>
        </filter>
    </defs>
</svg>
