{% extends 'index.html' %}
{% block content %}
    <section>
        <div class="card bg-white border-0 shadow-sm">
            <div class="card-header border-0 bg-transparent">
                <div class="hstack justify-content-between align-items-center">
                    <h2 class="card-title mb-0">Users</h2>
                    <button class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#modal-user">
                        Create new user
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                    <tr class="table-dark">
                        <th scope="row">ID</th>
                        <th scope="row">Username</th>
                        <th scope="row">Alias Name</th>
                        <th scope="row">Group</th>
                        <th scope="row">Seat Count</th>
                        <th scope="row">Staff</th>
                        <th scope="row">Superuser</th>
                        <th scope="row">Active</th>
                        <th scope="row">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <th>#{{ user.pk }}</th>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>
                                {% for group in user.groups.all %}
                                    {{ group }},
                                {% endfor %}
                            </td>
                            <td>{{ user.get_seats.count }}</td>
                            <td>
                                {% if user.is_staff %}
                                    <i class="bi bi-check-square-fill text-success"></i>
                                {% else %}
                                    <i class="bi bi-check-square"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_superuser %}
                                    <i class="bi bi-check-square-fill text-success"></i>
                                {% else %}
                                    <i class="bi bi-check-square"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_active %}
                                    <i class="bi bi-check-square-fill text-success"></i>
                                {% else %}
                                    <i class="bi bi-check-square"></i>
                                {% endif %}
                            </td>
                            <td>
                                <div class="hstack gap-2">
                                    <a href="{{ user.get_absolute_url }}" class="btn btn-sm btn-info text-white"><i
                                            class="bi bi-pencil-fill"></i></a>
{#                                    <a href="#" class="btn btn-sm btn-danger text-white"><i#}
{#                                            class="bi bi-trash3-fill"></i></a>#}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 bg-transparent">
                <div class="float-end d-flex align-self-center justify-content-start gap-2">
                    <a href="?page=1" class="btn btn-sm btn-secondary text-white"
                       {% if users.number == 1 %}disabled {% endif %}>&laquo;
                        First</a>
                    {% if users.has_previous %}
                        <a href="?page={{ users.previous_page_number }}" class="btn btn-sm btn-secondary text-white">Previous</a>
                    {% endif %}

                    <span>
                        {{ users.number }}/{{ users.paginator.num_pages }}
                    </span>

                    {% if users.has_next %}
                        <a href="?page={{ users.next_page_number }}"
                           class="btn btn-sm btn-secondary text-white">Next</a>
                    {% endif %}
                    <a href="?page={{ users.paginator.num_pages }}" class="btn btn-sm btn-secondary text-white">Last
                        &raquo;</a>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-user" tabindex="-1" aria-labelledby="modalAddUser" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add new user</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row row-gap-3">
                                {% for item in form %}
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label" for="{{ item.name }}">{{ item.label }}</label>
                                            {{ item }}
                                            <small class="text-black-50">{{ item.help_text }}</small>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Close
                            </button>
                            <button type="submit" role="button" class="btn btn-primary text-white">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}