$primary: #ff6e00;
$secondary: #a088ef;
$success: #4CAF50;
$info: #2196F3;
$warning: #FFC107;
$danger: #D7385E;
$light: #F8F9FA;
$dark: #2E384D;

$body-bg: #f5f5f5;
$text-color: $dark;
$link-color: $primary;
$link-hover-color: darken($primary, 10%);


$border-radius: 0.7rem;
$input-border-radius: 0.5rem;


@import "../../../bootstrap-5.3.2/scss/bootstrap";

.form-control {
  border-width: 2px;
  background-color: $gray-200;
}


.form-control:focus {
  outline: none;
  border-color: rgba($dark, 1);
  box-shadow: none;
  background-color: $gray-200;
}


