:root {

}


body {
    font-family: 'Poppins', sans-serif;
}


.tray-food-bg {
    background-image: url("/static/assets/image/tray-food.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.tray-food-bg::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}