{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <section class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5">
            <div class="card shadow-sm border-0 bg-white">
                <div class="card-header bg-dark text-white px-2 border-0">
                    <h3 class="card-title mb-0 fw-bold">Recent orders</h3>
                </div>
                <div class="card-body table-responsive p-0 " id="order-list-body" style="height: 40vh">
                    {% include 'loader.html' %}
                </div>
            </div>
        </section>

    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'assets/js/adminSocket.js' %}" type="module"></script>
{% endblock %}