{% extends 'index.html' %}
{% block content %}
    <form enctype="multipart/form-data" action="." method="post">
        {% csrf_token %}
        <div class="card bg-white shadow-sm border-0">
            <div class="card-body">
                <div class="row row-gap-3">
                    <div class="col-12 col-md-12 ">
                        <div class="form-group w-lg">
                            <label class="form-label" for="{{ form.name.name }}">{{ form.name.label }}</label>
                            {{ form.name }}
                            <small class="text-black-50">{{ form.name.help_text }}</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 ">
                        <div class="form-group w-lg">
                            <label class="form-label" for="{{ form.description.name }}">{{ form.description.label }}</label>
                            {{ form.description }}
                            <small class="text-black-50">{{ form.description.help_text }}</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 ">
                        <div class="form-group w-lg">
                            <label class="form-label" for="{{ form.image.name }}">{{ form.image.label }}</label>
                            {{ form.image }}
                            <small class="text-black-50">{{ form.image.help_text }}</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 ">
                        <div class="form-group w-lg">
                            <label class="form-label" for="{{ form.is_active.name }}">{{ form.is_active.label }}</label>
                            {{ form.is_active }}
                            <small class="text-black-50">{{ form.is_active.help_text }}</small>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="card-footer bg-transparent border-0">
                <button class="btn btn-primary text-white float-end" role="button" type="submit">Save changes</button>
            </div>
        </div>
    </form>
{% endblock %}