{% extends 'index.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="card  border-0">
            <div class="card-header bg-transparent">
                <h2 class="card-title">Categories List</h2>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="row">ID</th>
                        <th scope="row">Category</th>
                        <th scope="row" class="text-nowrap">Date Create</th>
                        <th scope="row" class="text-nowrap">Date Modify</th>
                        <th scope="row">Active</th>
                        <th scope="row">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <th>#{{ category.pk }}</th>
                            <td colspan="1">
                                <div class="hstack gap-3" style="width: 600px">
                                    <div class="position-relative" style="width: 100px;">
                                        {% if category.thumbnail %}
                                            <img src="{{ category.thumbnail.url }}" alt="{{ category.name }}"
                                                 class="card-img">
                                        {% else %}
                                            <img src="{% static 'assets/image/category-default.jpg' %}"
                                                 alt="{{ category.name }}" class="card-img">
                                        {% endif %}
                                    </div>
                                    <div class="vstack gap-2">
                                        <div class="hstack justify-content-between">
                                            <h5 class="fw-normal">
                                                {{ category.name }}
                                            </h5>
                                        </div>
                                        <p class="text-break mb-0" style="max-width: 650px">
                                            {{ category.description|truncatechars:"50" }}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-nowrap">{{ category.create_at }}</td>
                            <td class="text-nowrap">{{ category.update_at }}</td>
                            <td>
                                {% if category.is_active %}
                                    <i class="bi bi-check-square-fill text-success"></i>
                                {% else %}
                                    <i class="bi bi-check-square"></i>
                                {% endif %}
                            </td>
                            <td class="text-nowrap">
                                <div class="hstack gap-2">
                                    <a href="{{ category.get_absolute_url }}" class="btn btn-sm btn-info text-white"><i
                                            class="bi bi-pencil-fill"></i></a>
                                    <a href="#" class="btn btn-sm btn-danger text-white"><i
                                            class="bi bi-trash3-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer bg-transparent">
                <div class="float-end d-flex align-self-center justify-content-start gap-2">
                    <a href="?page=1" class="btn btn-sm btn-dark" {% if categories.number == 1 %}disabled {% endif %}>&laquo;
                        First</a>
                    {% if categories.has_previous %}
                        <a href="?page={{ categories.previous_page_number }}" class="btn btn-sm btn-dark">Previous</a>
                    {% endif %}

                    <span>
                        {{ categories.number }}/{{ categories.paginator.num_pages }}.
                    </span>

                    {% if categories.has_next %}
                        <a href="?page={{ categories.next_page_number }}" class="btn btn-sm btn-dark">Next</a>
                    {% endif %}
                    <a href="?page={{ categories.paginator.num_pages }}" class="btn btn-sm btn-dark">Last &raquo;</a>
                </div>
            </div>
        </div>

    </section>
{% endblock %}