{% extends 'index.html' %}
{% load static %}
{% block content %}

    <form enctype="multipart/form-data" action="." method="post">
        {% csrf_token %}
        <div class="card bg-white shadow-sm border-0">
            <div class="card-body">
                <div class="row row-gap-3">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="{{ form.user.name }}">{{ form.user.label }}</label>
                            <div>
                                {{ form.user }}
                            </div>
                            <small class="text-black-50">{{ form.user.help_text }}</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label"
                                   for="{{ form.session_customer.name }}">{{ form.session_customer.label }}</label>
                            <div>
                                {{ form.session_customer }}
                            </div>
                            <small class="text-black-50">{{ form.session_customer.help_text }}</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label"
                                   for="{{ form.description.name }}">{{ form.description.label }}</label>
                            {{ form.description }}
                            <small class="text-black-50">{{ form.description.help_text }}</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="{{ form.status.name }}">{{ form.status.label }}</label>
                            {{ form.status }}
                            <small class="text-black-50">{{ form.status.help_text }}</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label"
                                   for="{{ form.payment_status.name }}">{{ form.payment_status.label }}</label>
                            {{ form.payment_status }}
                            <small class="text-black-50">{{ form.payment_status.help_text }}</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label"
                                   for="{{ form.tips.name }}">{{ form.tips.label }}</label>
                            {{ form.tips }}
                            <small class="text-black-50">{{ form.tips.help_text }}</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <h5 class="fs-5">{{ form.payment_method.label }}</h5>
                        {% for checkbox in form.payment_method %}
                            <div class="form-check form-check-inline">
                                {{ checkbox }}
                                <label class="form-check-label" for="{{ checkbox.name }}">{{ checkbox.label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <h5 class="fs-5">{{ form.extras.label }}</h5>
                        {% for checkbox in form.extras %}
                            <div class="form-check form-check-inline">
                                {{ checkbox }}
                                <label class="form-check-label" for="{{ checkbox.name }}">{{ checkbox.label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr/>
                <table class="table " id="formset-container">
                    {{ formset.management_form }}
                    <thead>
                    <tr class="table-dark">
                        <th scope="row">Food</th>
                        <th scope="row">Seat</th>
                        <th scope="row">Quantity</th>
                        <th scope="row">Price</th>
                        <th scope="row">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in formset %}
                        <tr>
                            {{ item.id }}
                            <td>
                                {{ item.food }}
                            </td>
                            <td>
                                {{ item.seats }}
                            </td>
                            <td>
                                {{ item.quantity }}
                            </td>
                            <td>
                                {{ item.price }}
                            </td>
                            <td>{{ item.DELETE }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="table-transparent">
                        <td colspan="12">
                            <button type="button" disabled class="btn btn-sm btn-dark text-white border-0 outline-0"
                                    id="add-form"><i class="bi bi-plus-circle fs-5"></i> Add more item
                            </button>
                        </td>
                    </tr>
                    </tfoot>

                </table>

            </div>
            <div class="card-footer bg-transparent border-0">
                <button class="btn btn-primary text-white float-end" role="button" type="submit">Save changes</button>
            </div>
        </div>
    </form>
    <link rel="stylesheet" href="{% static 'assets/lib/nice-select-2/nice-select2.css' %}">
    <style>
        .nice-select {
            width: 100%;
        }
    </style>
{% endblock %}
{% block script %}
    <script src="{% static 'assets/lib/nice-select-2/nice-select2.js' %}"></script>
    <script type="module">
        import {getData} from "{% static "assets/js/utils.js" %}";

        document.addEventListener('DOMContentLoaded', async function () {
            const userSelectInput = document.querySelector("#id_user")
            const options = {searchable: true,}
            let formCount = parseInt(document.getElementById('id_order_items-TOTAL_FORMS').value);
            let foodOptions = []
            let seatOptions = []
            let NiceSelectFood = {}
            let NiceSelectSeat = {}
            foodOptions = await getData("/api/food-list/")
            if (userSelectInput.value.trim !== "" || userSelectInput.value.length > 0)
                seatOptions = await getData(`/api/crm/seats/?user=${userSelectInput.value}`)

            NiceSelect.bind(document.getElementById(`id_user`), options);
            document.getElementById(`id_user`).classList.add("visually-hidden")


            const handleIterateSelect = (data = null) => {
                for (let i = 1; i <= formCount; i++) {
                    const input_food = document.querySelector(`#id_order_items-${i-1}-food`)
                    const input_seat = document.querySelector(`#id_order_items-${i-1}-seats`)
                    if (!NiceSelectFood[i] && !NiceSelectSeat[i]) {
                        NiceSelectSeat[i] = NiceSelect.bind(input_seat, options);
                        NiceSelectFood[i] = NiceSelect.bind(input_food, options);
                        input_food.classList.add("visually-hidden")
                        input_seat.classList.add("visually-hidden")
                    }
                    if (data) {
                        input_seat.innerHTML = ``
                        input_seat.innerHTML = `${data?.map(seat => `<option value="${seat?.id}">${seat?.name}</option>`)}`
                        NiceSelectSeat[i].update()
                        NiceSelectSeat[i].dropdown.classList.remove("visually-hidden")
                    }

                }
            }
            handleIterateSelect()


            const handleValidateAddSeat = (value) => {
                const btn = document.querySelector("#add-form")
                if (value.trim === "" || value.length === 0 || value === null || value === undefined) {
                    btn.setAttribute("disabled", true)
                } else {
                    btn.removeAttribute("disabled")
                }
            }

            handleValidateAddSeat(userSelectInput.value)

            window.removeRow = (e) => {
                const btn = e.currentTarget
                btn.parentNode.parentNode.remove()
                document.getElementById('id_order_items-TOTAL_FORMS').value -= 1;
                formCount = parseInt(document.getElementById('id_order_items-TOTAL_FORMS').value);
            }


            userSelectInput.addEventListener("change", async (e) => {
                const id = e.currentTarget.value
                handleValidateAddSeat(id)
                seatOptions = await getData(`/api/crm/seats/?user=${id}`)

                handleIterateSelect(seatOptions)


            })

            document.getElementById('add-form').addEventListener('click', function () {

                const table = document.querySelector("#formset-container")
                const length = table.querySelectorAll("tbody tr").length
                const row = table.insertRow(length + 1)
                row.innerHTML = `
                <tr>
                            <input type="hidden" name="order_items-${formCount}-id" id="id_order_items-${formCount}-id">
                            <td>
                                <select name="order_items-${formCount}-food" aria-describedby="id_order_items-${formCount}-food_helptext" id="id_order_items-${formCount}-food">
                                  <option value="" selected="">---------</option>
                                   ${foodOptions?.map(food => `<option value="${food?.id}">${food?.name}</option>`)}
                                </select>
                            </td>
                            <td>
                                <select name="order_items-${formCount}-seats" multiple id="id_order_items-${formCount}-seats">
                                    ${seatOptions?.map(seat => `<option value="${seat?.id}">${seat?.name}</option>`)}
                                </select>
                            </td>
                            <td>
                                <input type="number" name="order_items-${formCount}-quantity" value="1" class="form-control" placeholder="Quantity" min="0" aria-describedby="id_order_items-${formCount}-quantity_helptext" id="id_order_items-${formCount}-quantity">
                          
                            </td>
                            <td>
                                <input type="number" name="order_items-${formCount}-price" class="form-control" placeholder="Price of Food" step="0.01" aria-describedby="id_order_items-${formCount}-price_helptext" id="id_order_items-${formCount}-price">
                            </td>
                            <td>
                                <button class="btn border-0 outline-0" onclick="removeRow(event)" role="button" type="button">
                                    <i class="bi bi-x-circle-fill"></i>
                                </button>
                            </td>
                        </tr>
                `

                const selectSeat = NiceSelect.bind(document.getElementById(`id_order_items-${formCount}-seats`), options);
                const selectFood = NiceSelect.bind(document.getElementById(`id_order_items-${formCount}-food`), options);
                NiceSelectSeat[formCount+1] = selectSeat
                NiceSelectFood[formCount+1] = selectFood
                console.log(NiceSelectSeat)
                document.getElementById(`id_order_items-${formCount}-seats`).classList.add("visually-hidden")
                document.getElementById(`id_order_items-${formCount}-food`).classList.add("visually-hidden")

                document.getElementById('id_order_items-TOTAL_FORMS').value = formCount + 1;
                formCount = parseInt(document.getElementById('id_order_items-TOTAL_FORMS').value);

            });
        });
    </script>
{% endblock %}