{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <label for="username" id="username-label" class="form-label">Username</label>
        <input id="username" class="form-control " type="text" name="username"/>
        <button id="btn-join" class="btn btn-primary my-2">Join room</button>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
                <div class="row row-cols-2 g-2" id="video-container">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <video id="local-video" autoplay playsinline class="card-img">
                                </video>
                            </div>
                            <div class="card-footer">
                                <button id="btn-toggle-audio">
                                    Audio Mute
                                </button>
                                <button id="btn-toggle-video">
                                    Video Off
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3>Chat</h3>
                <div id="messages">
                    <ul id="message-list">

                    </ul>
                </div>
                <div>
                    <input id="message-input" type="text" class="form-control"/>
                    <button class="btn btn-primary my-2" id="btn-send-message">Send Message</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'assets/js/webrtc.js' %}" type="text/javascript"></script>
{% endblock %}